main {
  display: flex;
  flex-direction: row;
  height: 89vh;

  section {
    display: flex;
    flex-direction: column;
    text-align: start;
    gap: 2rem;
    width: 50%;

    .brand {
      padding: 0;
      position: absolute;
      top: 1.5rem;
    }

    div {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
  }

  .imgRight {
    object-fit: cover;
    height: 100%;
    width: 50%;
    border-radius: 1rem;
  }
}

@media (max-width: 768px) {
  .brand {
    h3 {
      display: block;
    }
  }
}
