.appContainer {
  background-color: white;
  padding: 0.4rem;

  .appContent {
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 98.4vh;
    background-color: var(--color-bg);
  }
}
