.app-container {
  background-color: var(--color-white);
  padding: 1vh;

  .app-content {
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 98vh;
    background-color: var(--color-bg);
  }
}
