@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Montserrat:wght@600;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: var(--color-black);
  font-family: "Montserrat", sans-serif;
}

:root {
  --color-white: white;
  --color-bg: #f0f0f0;
  --color-bg-hover: gainsboro;
  --color-black: #202020;
  --color-black-hover: #3d3d3d;
  --color-gray: gray;
}

.dark {
  --color-white: #121212;
  --color-bg: #303030;
  --color-bg-hover: #565656;
  --color-black: #e0e0e0;
  --color-black-hover: #c0c0c0;
}

a {
  text-decoration: none;
}

/* Botones o links */
.btn,
button {
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border: 1px solid var(--color-bg-hover);

  &:disabled {
    background-color: #ccc;
    color: white;
    cursor: not-allowed;

    &:hover {
      background-color: #ccc;
    }
  }
}

.styleBtnBlack {
  background-color: var(--color-black);
  color: var(--color-white);

  &:hover {
    background-color: var(--color-black-hover);
  }
}

.styleBtnWhite {
  background-color: var(--color-white);

  &:hover {
    background-color: var(--color-bg);
  }
}

.closeBtn {
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem;
  font-size: 1.5rem;
  border-radius: 50%;
  background-color: transparent;

  &:hover {
    background-color: var(--color-bg-hover);
  }
}

.optionLink {
  &:hover {
    color: var(--color-black-hover);
  }
}

/* Textos */
.textGray {
  color: var(--color-gray);
}

.errorMessage {
  background-color: red;
  color: white;
  padding: 0.5rem;
  border-radius: 1rem;
}

/* Inputs */
input {
  padding: 0.5rem 0.8rem;
  border-radius: 0.5rem;
  border: 1px solid var(--color-bg-hover);
  background-color: transparent;

  &:focus {
    outline: none;
  }
}

/* Interfaces */
.pageDropdown {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  z-index: 2;

  section {
    background: var(--color-white);
    min-width: 360px;
    max-width: 500px;
    width: 40vw;
    border-radius: 1rem;
    padding: 0.4rem;

    .container {
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      background-color: var(--color-bg);
      border-radius: 1rem;
      padding: 0.8rem 1rem;
      height: 100%;
      width: 100%;
      position: relative;

      .headerpageDropdown {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
      }

      main {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .options {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
        }

        .divSelect {
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
        }
      }

      .footerpageDropdown {
        display: flex;
        gap: 1rem;
        justify-content: end;

        button {
          font-size: 1rem;
        }
      }
    }
  }
}
