.plan-cost {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin: 3rem 5vw;

  .plans-section {
    display: flex;
    gap: 2rem;

    .plan {
      border-radius: 1rem;
      background-color: var(--color-white);
      max-width: 350px;

      .sup-section {
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        border-bottom: 2px solid var(--color-gray);

        .cost-div {
          display: flex;
          align-items: center;
          gap: 0.3rem;
        }
      }

      .features-section {
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .sup-div {
          display: flex;
          flex-direction: column;
          gap: 1rem;
        }

        ul {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
          list-style-type: none;

          li {
            display: flex;
            gap: 0.5rem;
            align-items: center;

            .icon {
              font-size: 1.2rem;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .plans-section {
    flex-direction: column;
    width: 100%;
    align-items: center;

    .plan {
      max-width: 400px;
      width: 100%;
    }
  }
}
