.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;

  .havent-filled-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}
