header {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-bg);
    border-bottom: 2px solid gainsboro;
    padding: .5rem;
    height: 5rem;

    .brand {
        display: flex;
        align-items: center;
        gap: .5rem;
        padding: .5rem 1rem;  

        img {
            width: 2rem;
        }
    }

    section {
        display: flex;
        align-items: center;

        .option:hover {
            color: var(--color-black-hover);
        }
    }

    .profile {
        display: flex;
        align-items: center;
        gap: .5rem;
        border-radius: 1rem;
        padding: .5rem 1rem;

        .avatarText {
            p {
                text-align: end;
            }

            .paymentPlan {
                color: var(--color-black-hover);
                font-size: .8rem;
            }
        }

        .avatarImg {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 2.5rem;
            height: 2.5rem;
            border: 1px solid black;
            border-radius: 50%;
            overflow: hidden;

            img {
                width: 1.5rem;
            }
        }
    }
    .profile:hover {
        background-color: gainsboro;
    }
}

@media (max-width: 768px) {
    .brand {
        h3 {
            display: none;
        }
    }
}

@media (max-width: 480px) {
    .profile {
      .avatarText {
        display: none;
      }  
    }
}
