.header {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-bg);
  border-bottom: 2px solid var(--color-bg-hover);
  padding: 0.5rem;
  height: 10vh;

  section {
    display: flex;
    align-items: center;
  }

  .profile-section {
    position: relative;

    .profile {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      border-radius: 1rem;
      padding: 0.5rem 1rem;
      border: none;
      background-color: transparent;

      .avatar-text {
        p {
          font-size: 1rem;
          text-align: end;
        }

        .payment-plan {
          font-size: 0.8rem;
        }
      }

      .avatar-img {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2.5rem;
        height: 2.5rem;
        border: 1px solid var(--color-black);
        border-radius: 50%;
        overflow: hidden;

        img {
          width: 100%;
        }
      }

      &:hover {
        background-color: var(--color-bg-hover);
      }
    }
  }
}

@media (max-width: 768px) {
  .brand {
    h3 {
      display: none;
    }
  }
}

@media (max-width: 480px) {
  .profile {
    .avatar-text {
      display: none;
    }
  }
}
